.main {
    background-color: var(--darkgray);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--darkgray);
}

.main-content {
    justify-self: start;
    margin-left: 20px;
    color: var(--white);
    width: 80%;
}

.main-content h1 { /* heading */
    font-size: 2rem;
}

.main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.main-btn {
    font-size: 1rem;
    background-color: var(--brightpurple);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;
}

.main-btn a {
    position: relative;
    z-index: 1;
    color: var(--white);
    text-decoration: none;
}



.main-img-container {
    text-align: center;
}

#main-img {
    height: 80%;
    width: 80%;
}

/* ABOUT US PAGE */
.aboutus-main {
    background-color: var(--darkgray);
}

.aboutus-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--darkgray);
}

.aboutus-main-content {
    justify-self: start;
    margin-left: 20px;
    color: var(--white);
    width: 80%;
}

.aboutus-main-content h1 {
    font-size: 2rem;
}

.aboutus-main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* CONTACT US PAGE */
.contactus-main {
    background-color: var(--darkgray);
}

.contactus-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--darkgray);
}

.contactus-main-content {
    justify-self: start;
    margin-left: 20px;
    color: var(--white);
    width: 80%;
}

.contactus-main-content h1 {
    font-size: 2rem;
}

.contactus-main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* Mobile responsive */
@media screen  and (max-width: 760px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        background-color: var(--darkgray);
    }

    .main-content {
        justify-self: center;
        color: var(--white);
        width: 80%;
        margin: 0;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main-img {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        text-align: center;
    }

    .main-content h1 {
        font-size: 2.8rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin-top: 2.5rem;
    }

        #main-img {
        display: none;
    }
}



@media (max-width: 767px) {
.aboutus-main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--darkgray);
}

.aboutus-main-content {
    justify-self: center;
    color: var(--white);
    width: 80%;
    margin: 0;
}

.aboutus-main-content p {
    margin-top: 0.75rem;
}

#main-img {
    display: none;
}

}